html, body {
  margin: 0; height: 100%; overflow: hidden
}

body {
  background: #111a29;
}

.pagebg {
  width: 1920px;
  height: 1080px;
}
  
.logo {
  width: 100%;
  height: 600px;
  animation: fadeIn 6s;
}

.inport {
  float: right;
  margin-top: 30%;
  margin-right: 15%;  
  width: 85%; 
}

.text {
  color: white;
  font-size: 80pt;
  position: relative;
  overflow: hidden;
  width: 60%;
  float: right;
  z-index: 9999;
}

.inport .title {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 4vw;
}

.inport .author {
      font-size: 4vw;
      font-family: sans-serif;
}

.fadingEffect {
  position:relative;
  top:0; bottom:0; right:0;
  width:100%;
  background: #111a29;
  animation: showHide 5s ease-in ;
  animation-fill-mode: forwards;
  animation-delay: 5s;
  z-index: 10;
}

@keyframes showHide {
  0% {width:100%;}
  40% {width:0%;}
  60% {width:0%;}
  100% {width:0%;}
}
    
.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 431px;
  width: 450px;
  background-image: url("sea-map.png");
  background-size: cover;
  animation: fadeIn 3s; 
  animation-delay: 5s;
  animation-fill-mode: forwards;
  opacity: 0;
  margin-left: 10%;
  margin-top: 15%;
}


.water {
  background-image: url("sea-map.png");
  background-size: cover;
  animation: fadeIn 2s; 
  animation-composition: replace;
  animation: fadeOut 3s;
  animation-fill-mode: both;
  animation-delay: 5s;
  filter: url("#turbulence");
  position: absolute;
  top:-5px;
  left:-5px;
  height: 431px;
  width: 450px;
  opacity: 0;
  margin-left: 10%;
  margin-top: 15%;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes animateSprite {
  0% {
    background-position: -600px; /* Starting position moving left sprite */
  }
  20% {
    background-position: 0px; /* Straight on sprite */
  }
  25% {
    background-position: -200px; /* Moving up sprite */
  }
  35% {
    background-position: -400px; /* Moving right sprite */
  }
  40% {
    background-position: -400px;
  }
  50% {
    background-position: -200px;  /* Moving up sprite */
  }
  60% {
    background-position: -0px; /* Straight on sprite */
  }
  67% {
    background-position: -600px; /* Moving up sprite */
  }

  100% {
    background-position: -600px;
  }
}

@keyframes swim {
  0% {
    transform: translate(0, 0); /* Starting position */
  }
  20% {
    transform: translate(calc(-50vw - 100px), 0); /* Animate to center of screen */
  }
  25% {
    transform: translate(calc(-50vw - 100px), 0); /* Stay at the center for 1 second */
  }
  35% {
    transform: translate(calc(-50vw - 100px), -20vh); /* Animate up for 2 seconds */
  }
  50% {
    transform: translate(-25vw, 15vh); /* Animate bottom right for 3 seconds */
  }
  60% {
    transform: translate(-25vw, -20vh); /* Animate up at right of the screen */
  }
  67% {
    transform: translate(-25vw, -20vh);
  }

  100% {
    transform: translate(calc(-100vw - 300px), 0); /* Animate past left past the screen */
  }
}
.ocean {
  position: relative;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 9999;
}

.bubble {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  bottom: -30px;
  opacity: 0.2;
  animation: bubble 15s ease-in-out infinite,
  sideWays 4s ease-in-out infinite alternate;
}

@keyframes bubble {
  0% {
    transform: translateY(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateY(-120vh);
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 200px;
  }
}

.bubble--1 {
  left: 10%;
  animation-delay: 0.5s;
  animation-duration: 16s;
  opacity: 0.2;
}

.bubble--2 {
  width: 15px;
  height: 15px;
  left: 40%;
  animation-delay: 1s;
  animation-duration: 10s;
  opacity: 0.1;
}

.bubble--3 {
  width: 10px;
  height: 10px;
  left: 30%;
  animation-delay: 5s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--4 {
  width: 25px;
  height: 25px;
  left: 40%;
  animation-delay: 8s;
  animation-duration: 17s;
  opacity: 0.2;
}

.bubble--5 {
  width: 30px;
  height: 30px;
  left: 60%;
  animation-delay: 10s;
  animation-duration: 15s;
  opacity: 0.1;
}

.bubble--6 {
  width: 10px;
  height: 10px;
  left: 80%;
  animation-delay: 3s;
  animation-duration: 30s;
  opacity: 0.4;
}

.bubble--7 {
  width: 15px;
  height: 15px;
  left: 90%;
  animation-delay: -7s;
  animation-duration: 25s;
  opacity: 0.3;
}

.bubble--9 {
  width: 20px;
  height: 20px;
  left: 50%;
  bottom: 30px;
  animation-delay: -5s;
  animation-duration: 19s;
  opacity: 0.2;
}

.bubble--10 {
  width: 40px;
  height: 40px;
  left: 30%;
  bottom: 30px;
  animation-delay: -21s;
  animation-duration: 16s;
  opacity: 0.3;
}

.bubble--11 {
  width: 30px;
  height: 30px;
  left: 60%;
  bottom: 30px;
  animation-delay: -13.75s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--11 {
  width: 25px;
  height: 25px;
  left: 90%;
  bottom: 30px;
  animation-delay: -10.5s;
  animation-duration: 19s;
  opacity: 0.3;
}

.animated{
  -webkit-animation-duration:3s;
  animation-duration:3s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
  animation-delay: 5s;
}

@-webkit-keyframes fadeInLeft{
  0% {
    opacity:0;
    -webkit-transform:translateX(-200px);
    transform:translateX(-200px)
  }
  100%{
    opacity:1;
    -webkit-transform:translateX(0);
    transform:translateX(0)
  }
}

@keyframes fadeInLeft {
  0% {
    opacity:0;
    -webkit-transform:translateX(-400px);
    -ms-transform:translateX(-400px);
    transform:translateX(-400px)
  }
  100% {
    opacity:1;
    -webkit-transform:translateX(0);
    -ms-transform:translateX(0);
    transform:translateX(0)
  }
}

.fadeInLeft {
  -webkit-animation-name:fadeInLeft;
  animation-name:fadeInLeft
}
